<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Álvaro Alonso González y Guillermo García Grao.
    https://github.com/cokee96/quiz_2017
</p>

<img src="/images/FotoA.jpg" width="414px" />
<img src="/images/FotoB.jpg" width="300px" />

