<h1>Ayuda</h1>

<p>
    El proyecto Quiz es una red social la cual permite a múltiples usuarios compartir sus conocimientos a través de adivinanzas.
    Se trata básicamente de un proyecto educativo para mostrar la arquitectura de una aplicaciónWeb del lado servidor, las metodologías de desarrollo y los elementos más importantes de un portal Web.
</p>

